.page-container {
    min-height: 80vh;
}
.login-container {
    margin-top: 2rem;
    width: 500px;
}

.sidebar-container {
    background: #efefef;
    min-width: 250px;
    height: 100vh;
    margin-right: 1rem;
}

.wrapper {
    min-height: 100%;
}
